<section>
<meta name="viewport" content="width=device-width, user-scalable=no">


<div class="small-10 columns small-centered">
  <div class="row signup">
    <h1>Teacher Log In</h1>
    <%= form_for(:teacher, url: auth_teacher_login_path, method: 'POST') do |f| %>
      <label for="left-label" class="left"><%= f.label :email %> </label>
      <%= f.text_field :email %>
      <label for="left-label" class="left"><%= f.label :password %> </label>
      <%= f.password_field :password %>
      <%= f.submit "Log In", class: 'button' %>
    <% end %>
  </div>
</div>

</section>