<div data-alert></div>

<h2>{{student.firstName}} {{student.lastName}}</h2>

<hr>
<div id="image_panel">
  <div class="post_board">
    <img {{bind-attr src='worksheet.url'}} />
    {{#each field in fields}}
      <div class="post-it" {{bind-attr style=field.style}}>
        {{field.answer}}
      </div>
    {{/each}}
  </div>
</div>
<hr>

{{textarea rows="5" value=notes class='notes'}}
<button {{action "saveNotes"}} class="button small"><i class="fa fa-plus-o"><b>&nbsp;Save Notes</b></i></button>
