<div class="small-10 columns small-centered">
  <div class="row signup">
    <h1>Teacher Sign Up</h1>
    <% if @errors %>
    <p>Please correct the following errors:</p>
    <ul class="no-bullet">
      <% @errors.each do |error| %>
      <li style="color:red"><%= error %>
      <% end %>
    </ul>
    <% end %>
    <h3>Your unique class code is: <%= @class_code %></h3>
    <%= form_for @teacher, :url => auth_teachers_path do |f| %>
      <%= f.hidden_field :class_code, :value => @class_code %>
      <label for="left-label" class="left"><%= f.label :first_name %> </label>
      <%= f.text_field :first_name %>
      <label for="left-label" class="left"><%= f.label :last_name %> </label>
      <%= f.text_field :last_name %>
      <label for="left-label" class="left"><%= f.label :email %> </label>
      <%= f.text_field :email %>
      <label for="left-label" class="left"><%= f.label :password %> </label>
      <%= f.password_field :password %>
      <label for="left-label" class="left"><%= f.label :password_confirmation %> </label>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Sign Up", class: 'button' %>
    <% end %>
  </div>
</div>