<h2>{{student.firstName}} {{student.lastName}}</h2>
<hr>
<div id="image_panel">
  <div class="post_board">
    <img {{bind-attr src='worksheet.url'}} />
    {{#each field in fields}}
      <div class="post-it" {{bind-attr style=field.style}}>
        {{field.answer}}
      </div>
    {{/each}}
  </div>
</div>
