<h1>{{name}}</h1>
  <button {{action "loadTags"}}>Load Tags</button>
  <button {{action "loadWorksheet"}}>Load Worksheet</button>
  <p>{{url}}</p>
  {{#each inputFields}}
  <p>{{x}}</p>
  {{/each}}
  <p>{{answerKey}}</p>
  <div id="image_panel">
    <div class="post_board">
    </div>
  </div>
